.selection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 15px;
  background: var(--black10);
}

.selection > div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.selection > div:last-of-type{
  padding: 5px;
  height: 100%;
  border-radius: 10px;
  background: var(--black10);
}
.selection > div > svg{
  stroke: var(--black50);
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.selection > div > svg:hover{
  stroke: var(--black);
}

.selection > div > p{
  font-size: 14px;
}
.selection > div > p > span{
  opacity: .5;
}

.table{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border-radius: 15px;
  background: var(--black10);
  overflow-x: scroll;
}

.r,.c{
  display: flex;
}

.r{
  align-items: center;
}

.c{
  flex-direction: column;
}

.first{
  width: 150px;
  min-width: 150px;
  margin-right: 10px;
  height: 100%;
}
.first > button{
  height: 100%;
  background: var(--purple50);
}
.first > p{
  padding: 10px;
  background: var(--black10);
}
p.top{
  border-radius: 10px 10px 0 0;
}
p.bottom{
  border-radius: 0 0 10px 10px;
}
p.top.bottom{
  border-radius: 10px;
}
.first > select{
  background: var(--purple20);
  font-size: 12px;
  height: 100%;
  border-radius: 10px;
}

.cell{
  width: 80px;
  min-width: 80px;
  padding: 10px 0;
  background: var(--black10);
  text-align: center;
}
.cell.left{
  border-radius: 10px 0  0 10px;
}
.cell.right{
  border-radius: 0 10px 10px 0;
}
.cell.left.right{
  border-radius: 10px;
}

.values{
  display: flex;
}

input.cell{
  height: 37px;
  background: none;
  outline: 2px solid transparent;
  padding: 10px;
  outline-offset: -3px;
}
input.cell:hover{
  background: var(--black10);
  background-clip: padding-box;
}
input.cell:focus{
  background: var(--purple20);
  background-clip: padding-box;
}
input.cell.to-add{
  background: var(--purple20);
  outline: 2px dashed var(--purple);
  background-clip: padding-box;
}
input.cell.error{
  border: none;
  outline-color: red;
}

.toast{
  max-width: 800px;
}
