form{
  display: flex;
  gap: 10px;
  width: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 10px;
}

button{
  padding: 10px;
  background: var(--blu50);
  color: var(--black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
button:hover{
  background: var(--blu);
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  background: var(--black10);
  border-radius: 10px;
}

.rows > div{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.rows > div:hover > svg{
  opacity: 1;
}
.rows > div:hover > .on{
  display: none;
}
.rows > div:hover > .off{
  display: initial;
}

.rows .hover {
  font-weight: 400;
}
.rows .hover.off{
  display: none;
}

.rows svg{
  stroke: var(--black);
  opacity: .5;
  height: 16px;
  width: 16px;
  transition: .3s ease-in-out;
}

.total{
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black10);
  border-radius: 10px;
}

.cols{
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.col > p{
  height: 33px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black10);
}

.col:first-child > p{
  border-radius: 10px 0 0 10px;
}
.col:last-child > p{
  border-radius: 0 10px 10px 0;
}

.col > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
  width: 80px;
}

.col input{
  text-align: center;
  background: none;
  transition: background .3s ease-in-out;
}
.col input:hover{
  background: var(--black5);
}
.col input:focus{
  background: var(--blu20);
}
