.main{
  position: relative;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  gap: 50px;
  padding: 20px 0 50px 0;
  overflow-x: scroll;
}
.projects h1{
  color: var(--orange);
}

.project-info, .selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.project-info > h2{
  color: var(--orange);
}
.project-info > p{
  color: var(--black50);
}
.project-info > p > span{
  color: var(--black);
}

.wizard {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wizard .box {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  background: var(--black20);
  border-radius: 13px;
  transition: .3s ease-in-out;
}
.wizard .box.selected {
  background: var(--orange20);
}
.wizard .box.completed {
  color: var(--white);
  background: var(--orange);
}

.wizard > .progress{
  display: flex;
  flex: 1 0 0;
  height: 2px;
  background: var(--black20);
  border-radius: 1px;
}
.progress > span {
  height: 100%;
  background: var(--orange);
  border-radius: 1px;
  transition: .3s ease-in-out;
}

.wizard-actions{
  display: flex;
  width: 100%;
  max-width: 600px;
  padding: 5px 0;
  background: var(--white);
  position: absolute;
  bottom: 5px;
}

.wizard-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange20);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.wizard-button:hover{
  background: var(--orange50);
}
.wizard-button>svg{
  stroke: var(--black);
}


.wizard-content{
  display: flex;
  flex-direction: column;
  gap:25px;
  animation: dissolve .3s ease-in-out;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  flex-direction: row;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content > p{
  color: var(--black50);
  text-align: end;
  margin-right: 10px;
}

.selection > div {
  display: flex;
  gap: 10px;
}
.selection > div > svg {
  height: 20px;
  width: 20px;
  stroke: var(--black50);
  cursor: pointer;
}
.selection > div > svg:hover {
  stroke: var(--black);
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black5);
  padding: 5px;
  border: 1px dashed transparent;
  border-radius: 10px;
  transition: .3s ease-in-out;
}
.item.selected{
  background: var(--orange20);
  border: 1px dashed var(--orange);
}

.wrap{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
}
.wrap:last-child{
  border-radius: 5px;
  gap: 5px;
  padding: 5px 10px;
  background: var(--black10);
}
.wrap.error{
  border: 1px solid #FF0000;
  background: #FF000033;
}

.wrap > span{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: var(--black10);
  padding: 0;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.wrap > span > svg{
  height: 15px;
  width: 0;
  stroke: var(--orange);
  transition: .3s ease-in-out;
}

.item.valid > .wrap > span{
  padding: 5px;
}
.item.valid > .wrap > span > svg{
   width: 15px;
 }

.wrap > input{
  background: none;
  text-align: end;
  width: 50px;
  height: 20px;
  padding: 0;
  border-radius: 0;
}
.wrap > p{
  color: var(--black50);
  display: block;
}

button{
  background: var(--orange50);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  border: none;
  outline: none;
  width: 100%;
  z-index: 3;
}
button:hover{
  background: var(--orange);
}


@keyframes dissolve{
  0%{
    opacity: 0;
    scale: 0.8;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}
