.calendar{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 50px;
  padding: 20px 0 50px 0;
}

.calendar h1{
  color: var(--blu);
}

.select-box{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.selection{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selection.date > div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.selection.date > div > svg{
  stroke: var(--black50);
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.selection.date > div > svg:hover{
  stroke: var(--black);
}
.selection.date > div > p{
  stroke: var(--black);
}

.selection.professor > select {
  width: 250px;
}
.selection.professor > p{
  font-size: 14px;
}
.selection.professor > p > span{
  opacity: .5;
}

form{
  display: flex;
  gap: 10px;
  width: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 10px;
}

button{
  padding: 10px;
  background: var(--blu50);
  color: var(--black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
button:hover{
  background: var(--blu);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  background: var(--black10);
  border-radius: 10px;
}

.projects > div{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.projects > div:hover > svg{
  opacity: 1;
}
.projects > div:hover > .on{
  display: none;
}
.projects > div:hover > .off{
  display: initial;
}

.projects .hover {
  font-weight: 400;
}
.projects .hover.off{
  display: none;
}

.projects svg{
  stroke: var(--black);
  opacity: .5;
  height: 16px;
  width: 16px;
  transition: .3s ease-in-out;
}

.total{
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black10);
  border-radius: 10px;
}

.days{
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.day{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  min-width: 100px;
}
.day > p{
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black10);
  width: 100%;
}

.day:first-child > p{
  border-radius: 10px 0 0 10px;
}
.day:last-child > p{
  border-radius: 0 10px 10px 0;
}

.hours{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}

.day input{
  text-align: center;
  background: none;
  transition: background .3s ease-in-out;
}
.day input:hover{
  background: var(--black5);
}
.day input:focus{
  background: var(--blu20);
}
