.cell-mod {
  width: 35px;
  min-width: 35px;
  padding: 3px 0;
  background: var(--black10);
  text-align: center;
}
.cell-mod.left{
  border-radius: 10px 0  0 10px;
}
.cell-mod.right{
  border-radius: 0 10px 10px 0;
}
.cell-mod.left.right{
  border-radius: 10px;
}

input.cell-mod{
  height: 37px;
  background: none;
  outline: 2px solid transparent;
  padding: 10px;
  outline-offset: -3px;
}
input.cell-mod:hover{
  background: var(--black10);
  background-clip: padding-box;
}
input.cell-mod:focus{
  background: var(--purple20);
  background-clip: padding-box;
}
input.cell-mod.to-add{
  background: var(--purple20);
  outline: 2px dashed var(--purple);
  background-clip: padding-box;
}
input.cell-mod.error{
  border: none;
  outline-color: red;
}
