.calendar{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 50px;
  padding: 20px 0 50px 0;
}

.calendar h1{
  color: var(--blu);
}

.select-box{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.selection{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selection.date > div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.selection.date > div > svg{
  stroke: var(--black50);
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.selection.date > div > svg:hover{
  stroke: var(--black);
}
.selection.date > div > p{
  stroke: var(--black);
}

.selection.professor > select {
  width: 250px;
}
.selection.professor > p{
  font-size: 14px;
}
.selection.professor > p > span{
  opacity: .5;
}
