<div class="professors">

  <app-professor-details [professor]="professor!" *ngIf="professor"></app-professor-details>

  <div class="collaborations" *ngIf="projects.length > 0">
    <h1>Assegnamenti</h1>

    <div class="content">
      <div class="item" *ngFor="let p of projects">
        <h2>{{p.projectName}}</h2>
        <div>
          <p class="show">{{p.workedHours}} / {{p.totalHours}} <span>ore</span></p>
          <p class="hide">{{calc(p.remunerationRole, p.workedHours)}}€ <span>maturati</span></p>
        </div>
      </div>
    </div>
  </div>

  <p style="margin: auto; color: var(--black50)" *ngIf="projects.length === 0">Nessun assegnamento presente.</p>
</div>
