.professors {
  max-width: 600px;
}

h1{
  color: var(--blu);
}

.collaborations{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  gap: 10px;
  background: var(--black20);
  border-radius: 5px;
  padding: 10px;
}
.wrapper > h2{
  font-weight: 300;
}
.wrapper > span{
  font-size: 12px;
  color: var(--black50);
}

.content{
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--black5);
  border-radius: 10px;
}

.item > h2{
  color: var(--black50);
  font-weight: 300;
}
.item:hover > h2{
   color: var(--black);
}

.item > div{
  display: flex;
  cursor: pointer;
}
.hide{
  display: none;
}
.item > div:hover > .hide{
  display: initial;
}
.item > div:hover > .show{
   display: none;
}
.item > div > p{
  font-weight: 400;
}
.item > div > p > span{
  color: var(--black50);
}
