<div class="projects">
  <h1>{{ modify ? "Modifica" : "Aggiungi" }} Progetto</h1>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="input-wrapper" [class]="{'fixed' : modify}">
      <input type="text" [readonly]="modify" placeholder="inserisci il nome del progetto" formControlName="name">
      <span class="start">Nome</span>
    </div>

    <div class="input-wrapper" [class]="{'fixed' : modify}">
      <input type="text" [readonly]="modify" placeholder="inserisci il CUP" formControlName="cup">
      <span class="start">CUP</span>
    </div>

    <div class="input-wrapper" [class]="{'fixed' : modify}">
      <input type="email" [readonly]="modify" placeholder="inserisci l'acronimo" formControlName="acronym">
      <span class="start">Acronimo</span>
    </div>

    <div class="row">
      <div class="input-wrapper">
        <input type="number" placeholder="inserisci la percentuale di spesa" formControlName="overhead">
        <span class="start">Spesa generale</span>
        <span class="end">%</span>
      </div>

      <div class="input-wrapper">
        <input type="number" placeholder="inserisci il budget" formControlName="budget">
        <span class="start">Budget</span>
        <span class="end">€</span>
      </div>
    </div>

    <div class="row">
      <div class="input-wrapper" [class]="{'fixed' : modify}">
        <input type="date" id="date" formControlName="startDate" *ngIf="!modify">
        <div class="fake-input" *ngIf="modify">{{project?.startDate}}</div>
        <span class="start">Data inizio</span>
        <label class="end" for="date" *ngIf="!modify">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none">
            <path d="M12.5 1.8335V3.16683M4.5 1.8335V3.16683" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.49698 9.1665H8.50298M8.49698 11.8332H8.50298M11.1606 9.1665H11.1666M5.83331 9.1665H5.83929M5.83331 11.8332H5.83929" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.83331 5.8335H14.1666" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.16669 8.66213C2.16669 5.75729 2.16669 4.30485 3.00143 3.40243C3.83618 2.5 5.17968 2.5 7.86669 2.5H9.13335C11.8204 2.5 13.1639 2.5 13.9986 3.40243C14.8334 4.30485 14.8334 5.75729 14.8334 8.66213V9.00453C14.8334 11.9094 14.8334 13.3618 13.9986 14.2643C13.1639 15.1667 11.8204 15.1667 9.13335 15.1667H7.86669C5.17968 15.1667 3.83618 15.1667 3.00143 14.2643C2.16669 13.3618 2.16669 11.9094 2.16669 9.00453V8.66213Z" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.5 5.8335H14.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </label>
      </div>

      <div class="input-wrapper" [class]="{'fixed' : modify}">
        <input type="number" [readonly]="modify" placeholder="inserisci la durata" formControlName="duration">
        <span class="start">Durata</span>
        <span class="end">mesi</span>
      </div>
    </div>

    <div class="column">
      <h2>Costo orario per singolo ruolo</h2>
      <div class="wrapper">
        <p>Professore Ordinario</p>
        <div>
          <input type="number" placeholder="Inserisci costo orario" formControlName="amountFull">
          <span class="end">€/h</span>
        </div>
      </div>
      <div class="wrapper">
        <p>Professore Associato</p>
        <div>
          <input type="number" placeholder="Inserisci costo orario" formControlName="amountAssociate">
          <span class="end">€/h</span>
        </div>
      </div>
      <div class="wrapper">
        <p>Ricercatore</p>
        <div>
          <input type="number" placeholder="Inserisci costo orario" formControlName="amountResearcher">
          <span class="end">€/h</span>
        </div>
      </div>
    </div>

    <div class="column">
      <h2>PNRR</h2>
      <div class="row">
        <div class="item" [class]="{'active' : pnrr}" (click)="pnrr = true">
          <h2>Si</h2>
          <p>Il progetto è finanziato da fondi PNRR</p>
        </div>
        <div class="item" [class]="{'active' : !pnrr}" (click)="pnrr = false">
          <h2>No</h2>
          <p>Il progetto non è finanziato da fondi PNRR</p>
        </div>
      </div>
    </div>

    <button type="submit">{{ modify ? "Modifica" : "Aggiungi" }}</button>
  </form>
</div>
