.inputs{
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.input-wrapper{
  padding: 0 2px;
}


.input-wrapper > label > svg {
  animation: appear .3s ease-in-out;
  stroke-width: 2px;
}

button{
  padding: 10px;
  font-size: 16px;
  background: var(--black);
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button.invalid{
  background: var(--black50);
  cursor: not-allowed;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: .95;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
